.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
   
  background: url('https://example.com/background-image.jpg') no-repeat center center;
  background-size: cover; /* Ensures background image covers entire area */
  /* Padding to prevent content from touching edges */
}

.wrapper {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-left: 100px;
 
}
  


.contact-info {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  
}

@media(max-width:770px){
  .wrapper{
   font-size:23px;
  }
  .contact-info{
    img{
      height:30px;
      width:30px;
    }}
 }
@media(max-width:590px){
 .wrapper{
  font-size:15px;
 }
}

 @media(max-width:470px){
  .wrapper{
   font-size:15px;
   position: relative;
   left:-30px;
  }
  .contact-info{
  img{
    height:22px;
    width:22px;
  }
  }
 }
 @media(max-width:332px){
  .wrapper{
   font-size:12px;
   position: relative;
   left:-35px;
  }
  .contact-info{
  img{
    height:17px;
    width:17px;
  }
  }
 }