.newcomp{
    display:flex;
    align-items:center;
    flex-direction:column;
    gap:35px;
}

.newcomp img{
    margin-top:0px;
   
}

.newcomp h1 span{
    background:linear-gradient(270deg,rgb(219, 21, 21) 10%,rgb(0, 98, 255) 100%);
    background-clip:text;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.newcomp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Move the content higher */
    padding-top: 20px; /* Fine-tune as needed */
    height: 100vh;
    font-size: 18px;
  }
  
.s{
    padding:20px 35px;
    margin-top: -20px;
    border-radius:25px;
    border:2px solid white;
    cursor:pointer;
}
.s:hover{
    transform:scale(1.03);

}
.newcomp img {
    margin-top: 0; /* Increase the negative margin */
  }
  @media (max-width:770px){
    .newcomp{
        h1{
            font-size:32px;
        }
        img{height:440px;
            width:300px;}
        h4{
            text-align: center;
          font-size: 24px;
        }
    }
    .s{
        font-size: 24px;
    }
  }

@media (max-width:590px){
    .newcomp{
        h1{
            font-size:25px;
        }
        img{height:280px;
            width:180px;}
        h4{
            text-align: center;
          font-size:20px ;
        }
    }
    .s{
        font-size: 18px;
    }
}
@media (max-width:470px){
    .newcomp{
        h1{
            font-size:22px;
        }
        img{height:270px;
            width:190px;}
        h4{
            text-align: center;
          font-size: 14px;
        }
    }
    .s{
        position: relative;
        top:-20px;
        font-size: 14px;
    }
}
@media (max-width:400px){
    .newcomp{
        h1{
            font-size:18px;
        }
        img{height:270px;
            width:185px;}
        h4{
            text-align: center;
          font-size: 15px;
        }
    }
    .s{
        font-size: 14px;
    }
}

@media (max-width:332px){
    .newcomp{
        h1{
            font-size:18px;
        }
        img{height:250px;
            width:150px;}
        h4{
            text-align: center;
          font-size: 13px;
        }
    }
    .s{
        font-size: 14px;
    }
}
